<p style="color: green"><%= notice %></p>
<%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>

<h1><%= @category.name %></h1>

<div id="category">

</div>

<h2>Payments for <%= @category.name %></h2>

</div>
